<h2>Passenger Name: <%= @passenger.name %></h2>

<p>
  Phone number: <%= @passenger.phone_num %>
</p>


<ul>
  <li>
    <%= link_to "Edit", edit_passenger_path %>
  </li>
  <li>
    <%= link_to "Delete", passenger_path(@passenger.id), method: :delete %>
  </li>
</ul>
