<h1>Drivers</h1>
<section class="list">

  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>VIN</th>
      </tr>
    </thead>
    <tbody>
      <% @drivers.each do |d|  %>
      <tr>
        <td><%= d.id %></td>
        <td><%= link_to(d.name, driver_path(d.id))%></td>
        <td><%= link_to(d.vin, driver_path(d.id))%></td>

      </tr>
      <% end  %>
    </tbody>
  </table>
</section>
